<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYQTTc5Y7G07Lfrqw7EEdrBFZFs5_i8PM</string>
	<key>GCM_SENDER_ID</key>
	<string>621495135806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secretsanta</string>
	<key>PROJECT_ID</key>
	<string>secretsantadb-ad295</string>
	<key>STORAGE_BUCKET</key>
	<string>secretsantadb-ad295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621495135806:ios:82f7cb498a425d037fab6f</string>
</dict>
</plist>